@import "../../styles/variables";
.status-content {
  padding: 0 15px; display: flex; align-items: center; gap: 6px; font-size: 0.65rem; height: 100%;
  animation: decode-in 0.6s cubic-bezier(0.23, 1, 0.32, 1) both;
  .logo-wrap {
    display: flex; align-items: center; justify-content: center; width: 14px; height: 14px; 
    color: $accent-cyan; margin-right: 6px; filter: drop-shadow(0 0 5px $accent-cyan);
    animation: logo-flicker 4s infinite; flex-shrink: 0;
  }
  .app-name { color: #fff; font-weight: 900; letter-spacing: 4px; line-height: 1; flex-shrink: 0; text-shadow: 0 0 10px rgba($accent-cyan, 0.3); margin: 0; }
  .lbl { color: $accent-cyan; font-weight: 900; opacity: 0.4; font-size: 0.52rem; letter-spacing: 1.5px; margin: 0 0 0 4px; line-height: 1; }
  .val { color: #fff; font-weight: 700; text-transform: uppercase; letter-spacing: 1px; line-height: 1; margin: 0;
    &.hi { color: $accent-cyan; text-shadow: 0 0 8px rgba($accent-cyan, 0.4); }
    &.err { color: #ff3e3e; text-shadow: 0 0 8px rgba(255, 62, 62, 0.4); }
    &.ok { color: #00ffaa; text-shadow: 0 0 8px rgba(0, 255, 170, 0.4); }
    &.dim { opacity: 0.4; font-weight: 300; }
    &.sm { font-size: 0.55rem; letter-spacing: 0; }
    &.scan { animation: signal-scan 2.5s infinite ease-in-out; animation-delay: -100s; }
  }
  .sep { color: rgba($accent-cyan, 0.2); margin: 0 4px; line-height: 1; display: flex; align-items: center;
    &.px-2 { margin: 0 10px; opacity: 0.6; color: $accent-cyan; font-weight: 900; text-shadow: 0 0 5px $accent-cyan; }
  }
  .status-meta-group { 
    display: flex; align-items: center; gap: 4px; height: 100%; 
    &.clickable { 
      cursor: pointer; 
      &:hover { 
        .val.err { text-shadow: 0 0 8px rgba(255, 62, 62, 0.4); }
        .val.scan { 
          color: $accent-cyan; opacity: 1; 
          text-shadow: 0 0 8px rgba($accent-cyan, 0.5);
          transition: all 0.3s ease;
        }
      } 
    }
  }
}
