@import "../../styles/variables";
@import "./StatusAnims";
@import "./StatusContent";
@import "./StatusAuth";

.system-status-readout {
  position: fixed; top: 12px; right: 40px; font-family: "Space Grotesk", sans-serif;
  z-index: 10001; display: flex; align-items: center; pointer-events: auto; height: 32px;
  transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1);
  box-shadow: -10px 0 30px rgba(0,0,0,0.5);
  
  .system-status-bg {
    position: absolute; inset: 0; background: #000; z-index: -1;
    border: 1px solid rgba($accent-cyan, 0.4); border-left: 6px solid $accent-cyan;
    clip-path: polygon(0 0, 100% 0, 100% 70%, 98% 100%, 0 100%);
    transition: all 0.4s ease;
  }

  &:hover, &.is-connected, &.is-auth { 
    .system-status-bg { border-color: $accent-cyan; background: #10151a; }
    .status-display-area { width: 500px; opacity: 1; overflow: visible; }
  }
  &:has(.status-meta-group:hover) {
    .auth-btn:not(.active), .val.scan, .logo-wrap.scan { animation-duration: 6s; }
  }
  .status-display-area {
    width: 0; opacity: 0; transition: all 0.4s cubic-bezier(0.16, 1, 0.3, 1);
    overflow: hidden; pointer-events: auto; height: 100%; display: flex; align-items: center;
  }
}
