{
    email {$CADDY_EMAIL:kami@k-app.tech}
}

{$DOMAIN_NAME:k-app.tech}, www.{$DOMAIN_NAME:k-app.tech} {
    reverse_proxy app:80
}

{$AUTH_DOMAIN_NAME:auth.k-app.tech} {
    reverse_proxy keycloak:8080
}
