@import "../../../styles/variables";
.subtitles-overlay {
  position: fixed; bottom: 120px; left: 50%; transform: translateX(-50%);
  width: 90%; text-align: center; pointer-events: none; z-index: 10000;
  .caption-text {
    background: rgba(0, 0, 0, 0.95); color: #fff; display: inline-block; padding: 10px 30px;
    font-family: "Space Grotesk", sans-serif; font-size: 1.1rem; line-height: 1.4; border-radius: 2px;
    box-shadow: 0 0 30px rgba(0,0,0,0.8);
  }
}
