@import './styles/app/base';
@import './styles/app/debug-panel';
@import './styles/app/animations';
@import './styles/app/utils';

h1, h2, h3, .glitch-text {
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.name {
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 400;
  letter-spacing: 0.05em;
}
